/* not used. styles are in index.html so they are available before all.*/

@import "config.lib";

body {
	background-color: $bg;
	color: white;
}

img.loading {
	position: absolute;
	width: 120px; height: 120px;
	left: 50%; top: 50%;
	margin: -70px 0 0 -50px;
}

.hidetillneeded {
	display: none !important;
	//opacity: 0 !important;
}
// svg does not load if display: none
.hidetillloaded {
	//display: none !important;
	opacity: 0 !important;
}
