/* line 4, ../sass/style.scss */
body {
  background-color: #16335e;
}

/* line 8, ../sass/style.scss */
.ui-page-theme-a .ui-panel-wrapper {
  background-color: #16335e;
}

/* line 12, ../sass/style.scss */
.ui-bar-inherit {
  background-color: black;
  color: white;
  text-shadow: none;
}

/* line 18, ../sass/style.scss */
.boiler {
  width: 100%;
}

/* line 21, ../sass/style.scss */
.chart {
  width: 100%;
}
