/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "config.lib";
@import "sprites.lib";
@import "control.lib";

html {
	font-family: "Droid Sans", "Roboto", sans-serif;
	font-size: 16px;
}

select {
	padding: 4px;
}
section.tab {

	header {
		box-shadow: 0 -8px 8px rgba( black, .3 );
		text-align: center;
		position: relative;
	}
	h1 {
		font-size: 22px;
		background-color: white;
		color: $bg;
		padding: 6px 32px;
	}
	h2 {
		background-color: white;
		color: $bg;
		padding: 3px 6px;
	}

}
section.tab > section {
}

section.device {

	header {
		button {
			@include button( absolute );
			@include buttonStyleFlat( white );
			&.script {
				@include isIcon( chart );
				top: 3px; right: 3px;
			}
			&.manual {
				@include isIcon( settings );
				top: 3px; left: 3px;
			}
		}
	}

	object {
		width: 100%;
	}
}

section.info {

	position: relative;

	background-color: #eeff00;
	color: black !important;
	padding: 6px;

	&:after {
		position: absolute;
		top:2px; right: 3px;
		content: "";
		@include spriteSize( warn );
		@include sprite( warn );
	}

	&.severe {
		background-color: #ffcc00;
		&:after {
			@include spritePos( severe );
		}
	}

	div.severe {
		color: #bb0022 !important;
		font-weight: bold;
	}
}

section.manual, section.script {

	box-shadow: inset 0 4px 4px rgba( black, .3 );

	@include speedupRendering();
	@include showOnDemand( 1000px );

	background-color: $bg_ctrl;

	label {

		display: block;
		position: relative;

		margin: 3px;
		padding: 12px;

		border: 1px solid white;
		border-radius: 4px;

		input {
			position: absolute;
			top: 4px; right: 4px;
		}
	}

	div.step {
		display: flex;
		label {
			flex-grow: 1;
			display: inline-block;
		}
	}


	& > section {

		$ind: 8px;

		padding: 8px;

		h2 {
			margin: -8px -8px 0 -8px;
		}

		h3 {
			margin: 12px 0 4px 0;
			font-weight: bold;
			&:before { content: "= "; }
			&:after { content: " ="; }
		}
	}
}

section.runstop, section.loadsave {

	button {
		@include button( relative );
		padding-left: 20px;
		margin: 6px;
		&.set {
			display: block;
			width: auto;
		}
		&:disabled {
			&::before {
				opacity: .3;
			}
		}

		&[name="prev"] {
			@include hasIcon( prev, 4px, 4px );
		}
		&[name="next"] {
			@include hasIcon( next, 4px, 4px );
		}
		&[name="start"] {
			@include hasIcon( start, 4px, 4px );
		}
		&[name="stop"] {
			@include hasIcon( stop, 4px, 4px );
		}
		&[name="pause"] {
			@include hasIcon( pause, 4px, 4px );
		}
		&[name="resume"] {
			@include hasIcon( resume, 4px, 4px );
		}
		&[name="save"] {
			@include hasIcon( save, 4px, 4px );
		}
		&[name="load"] {
			@include hasIcon( load, 4px, 4px );
		}
		&[name="set"] {
			@include hasIcon( set, 4px, 4px );
		}
	}
}

.runstopinfo {
	display: block;
	text-align: center;
	margin: 0px 10px 20px 10px;
	border: 1px solid white;
	border-radius: 4px;
	padding: 8px;
}
